{% extends 'permission_system/base.html' %}
{% load static %}

{% block title %}编辑用户组{% endblock %}

{% block content %}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">编辑用户组</div>
        <div class="layui-card-body">
            <form class="layui-form" action="{% url 'permission_system:group_edit' group.id %}" method="post">
                {% csrf_token %}
                <div class="layui-form-item">
                    <label class="layui-form-label">组名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required lay-verify="required" placeholder="请输入组名称" autocomplete="off" class="layui-input" value="{{ group.name }}">
                    </div>
                </div>
                
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">权限选择</label>
                    <div class="layui-input-block">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>权限名称</th>
                                    <th>权限代码</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for permission in permissions %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="permissions" value="{{ permission.id }}" title=" " 
                                            {% if permission in group_permissions %}checked{% endif %} lay-skin="primary">
                                    </td>
                                    <td>{{ permission.name }}</td>
                                    <td>{{ permission.codename }}</td>
                                    <td>{{ permission.content_type.app_label }}.{{ permission.content_type.model }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
                        <a href="{% url 'permission_system:group_list' %}" class="layui-btn layui-btn-primary">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
layui.use(['form', 'layer'], function(){
    var form = layui.form;
    var layer = layui.layer;
    
    // 表单提交
    form.on('submit(formSubmit)', function(data){
        return true;
    });
});
</script>
{% endblock %}